Client/Connected Services/ServiceReference1/Library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8880/Library?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Res">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Res" nillable="true" type="tns:Res" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
</xs:schema>